.affluent-hero
  .affluent-hero_bg
    img(src=path + "assets/images/affluent/affluent-hero.png", alt="affluent-hero")
  .affluent-hero_content 
    h1.affluent-hero_title Here’s to a thoughtfully
      br 
      b crafted future
    p.affluent-hero_desc Create a legacy for your loved ones and embrace the 
      br 
      | freedom to pursue your passion without compromise.