mixin affluent-standfirst(header, subheader, ctatext)
  .affluent-standfirst
    .affluent-standfist_title 
      h3.affluent-standfirst_header !{header}
      h4.affluent-standfirst_subheader !{subheader}
    if ctatext
      .affluent-standfirst_cta
        a.affluent-button_primary=ctatext 