mixin affluent-fullwidth-banner 
  .affluent-fullwidth-banner
    .affluent-fullwidth-banner_container 
      .affluent-fullwidth-banner_bg
        img(src=path+"assets/images/affluent/affluent-hero-plain.png", alt="affluent-hero")
      .affluent-fullwidth-banner_header
        h1.affluent-hero_title 
          p Here’s to a thoughtfully
            br 
            b crafted future 1
          .affluent-hero_desc 
            p Create a legacy for your loved ones and embrace the 
              br 
              | freedom to pursue your passion without compromise. 
      .affluent-fullwidth-banner_footer
        .affluent-fullwidth-banner_award-list 
          .affluent-fullwidth-banner_award-item
            //- img(src=path+"assets/images/affluent-award.png", alt="").affluent-fullwidth-banner_award-logo 
            //- .affluent-fullwidth-banner_award-brand