mixin affluent-standfirst
  .affluent-standfirst(style="--mobile-mb: 32px; --desktop-mb: 64px")
    .affluent-standfist_title
      h3.affluent-standfirst_header 
        b Secure Your Tomorrow 
        | with Confidence
      h4.affluent-standfirst_subheader Experience personalised financial solutions at every milestone. Trust us to:
    .affluent-standfirst_cta
      a.affluent-button_primary Grow together now