mixin affluent-standfirst(header, subheader)
  .affluent-standfirst(style="--mobile-mb: 32px; --desktop-mb: 64px")
    .affluent-standfist_title 
      h3.affluent-standfirst_header !{header}
      h4.affluent-standfirst_subheader !{subheader}
    .affluent-standfirst_cta
      a.affluent-button_primary Grow together now 