mixin affluent-featured-articles
  .affluent-featured-articles
    h3.affluent-featured-articles_title Unlock Deeper <b>Insights</b>
    .affluent-featured-articles_list
      +affluent-card-image("Minding your matters (part 1): Why you should make an LPA while you can", "assets/images/affluent/affluent-article.png")
      +affluent-card-image("Minding your Matters (Part 2): Common questions about a Lasting Power of Attorney", "assets/images/affluent/affluent-article.png")
      +affluent-card-image("Understanding severe disability and why it pays to plan ahead", "assets/images/affluent/affluent-article.png")
      +affluent-card-image("Financial decisions that helped people in Singapore have a rich life", "assets/images/affluent/affluent-article.png")
      +affluent-card-image("Timing the Market vs Time in the Market: Which investment strategy gives better returns？", "assets/images/affluent/affluent-article.png")
      +affluent-card-image("Health insurance and cancer coverage in Singapore: A guide to making an informed decision", "assets/images/affluent/affluent-article.png")

