include common/index
include _affluent-hero
include _affluent-standfirst
include _affluent-card
include _affluent-background
include _affluent-products
include _affluent-feature-article
include _affluent-contact-form
include _affluent-fullwidth-banner