extends ./templates/_layout

block variables
  -
    var appId = 'top';
    var title = 'TOP PAGE';
    var description = 'Description: This page is top page.';

block content
  include layouts/_header.pug
  include components/_affluent-hero.pug
  .container
    +affluent-standfirst
    include components/_affluent-large-card.pug
    include components/_separator.pug
  include layouts/_footer.pug
