extends ./templates/_layout

block variables
  -
    var appId = 'top';
    var title = 'TOP PAGE';
    var description = 'Description: This page is top page.';

block content
  +affluent-background
  include layouts/_header.pug
  include components/_affluent-hero.pug
  .affluent-container
    +affluent-standfirst
    +affluent-card_icon-list
    +affluent-card-large
    include components/_separator.pug
  include layouts/_footer.pug
